* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: 75%;
  max-width: 2042px;
  margin: 0 auto;
}

/* Header Section Styles */

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 32px;
}

.navbar .links a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  margin-right: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 152%;
}

.navbar button {
  padding: 12.5px 16px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #30b868;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}
