* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: 75%;
  max-width: 2042px;
  margin: 0 auto;
}

/* Header Section Styles */

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 32px;
}

.navbar .links a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  margin-right: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 152%;
}

.navbar button {
  padding: 12.5px 16px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #30b868;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

/* Hero Section Styles */
.hero {
  height: 80vh;
  background: url('../assets/hero-bg.png');
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero .hero-content {
  max-width: 800px;
  padding: 20px;
}

.hero .hero-content #badge {
  display: inline-block;
  margin-bottom: 16px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #30b868;
  border: 1px solid rgba(60, 255, 176, 0.4);
  background-color: white;
  border-radius: 999px;
}

.hero .hero-content h1 {
  font-size: 72px;
  font-weight: 700;
  color: white;
  line-height: 84px;
  margin-bottom: 16px;
}

.hero .hero-content h1 span {
  color: rgba(48, 184, 104, 1);
}

.hero .hero-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 32px;
}

.hero .hero-content .buttons .btn-1 {
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  background-color: #30b868;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-right: 16px;
}

.hero .hero-content .buttons .btn-2 {
  padding: 12px 16px;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  background-color: #1e2a36;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

/* Card Section Styles */
.card-section .card-section-content {
  text-align: center;
  margin-top: 44px;
  margin-bottom: 44px;
}

.card-section .card-section-content h2 {
  color: #001931;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 16px;
}

.paragraph {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.card-section .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 72px;
}

.card-section .cards .card {
  width: 322px;
  height: 300px;
  padding: 24px 24px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card-section .cards .card .img {
  width: 32px;
  height: 32px;
  background-color: rgba(249, 85, 85, 1);
  border: none;
  border-radius: 9999px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-section .cards .card .content h2 {
  color: #001931;
  font-size: 22px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 16px;
}

/* Second Brain Styles */
.second-brain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom: 120px;
}

.second-brain .second-brain-content h6 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  color: #30b868;
  text-transform: uppercase;
}

.second-brain .second-brain-content h3 {
  color: #001931;
  font-size: 45px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 16px;
}

.second-brain .second-brain-content .checklist {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 16px;
}

.second-brain .second-brain-content .checklist p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

/* Early Access Styles */
.early-access {
  background-color: rgba(247, 246, 242, 1);
  border: none;
  border-radius: 12px;
  padding: 80px 40px;
  text-align: center;
  margin-bottom: 120px;
}

.early-access .early-access-container h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: rgba(0, 25, 49, 1);
  margin-bottom: 16px;
}

.early-access .early-access-container button {
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  background-color: #30b868;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-right: 16px;
  margin-top: 24px;
}

.early-access .early-access-container p {
  margin-top: 16px;
}

/* Footer Section Styles */
footer {
  background-color: rgba(0, 25, 49, 1);
  color: white;
  height: 35vh;
}

.footer-container {
  padding: 120px 30px 30px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-container .social-link h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 16px;
}

.footer-container .social-link i {
  margin-right: 16px;
}

footer p {
  margin-top: 36px;
  margin-bottom: 36px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
